<mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav mode="over" class="example-sidenav">
      <div >
        <mat-toolbar color="primary">
          <mat-icon>search</mat-icon>
                    
                <span>FabsLab</span>
        </mat-toolbar>
        <mat-nav-list >
          <a mat-list-item [routerLink]="['']">Dashboard</a>
          <a mat-list-item [routerLink]="['members']">Members</a>
          <a mat-list-item [routerLink]="['tools']">Tools</a>
          <a mat-list-item [routerLink]="['articles']">Articles</a>
          <a mat-list-item [routerLink]="['events']">Events</a>

        </mat-nav-list>
      </div>

    </mat-sidenav>
 
    <mat-sidenav-content class="example-content">
        <app-header >
            <div card>
                  <mat-toolbar color="primary">
                    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"(click)="sidenav.toggle()">
                      <mat-icon>menu</mat-icon>
                    </button>
                    <span><a>FabsLab</a></span>
                    <span class="example-spacer"></span>
                    <div class="toolbar-separator"></div>
                    <div>                      
                      <button 
                      mat-button
                      [matMenuTriggerFor]="menu" 
                      aria-label="Example icon-button with a menu">
                      <span class="mat-button-wrapper">
                        <div  fxLayout="row" fxLayoutAlign="center center" style="flex-direction: row; box-sizing: border-box; display: flex; place-content: center; align-items: center;">
                          <img  class="avatar" src="https://lh3.googleusercontent.com/a/ACg8ocKIiggmZ4cVUUAPVvDFHn-f6egRmUhjFfnGP9RAYWpqTgdlUQ=s96-c">
                          <span style="display: none;">Fatma Ben Slim Haddar</span> 
                        </div>
                      </span>
                      <mat-icon>keyboard_arrow_down</mat-icon>
                  </button>
                    </div>
                   
                    <mat-menu #menu="matMenu">
                      <button mat-menu-item>
                        <mat-icon>account_box</mat-icon>
                        <span>Profil</span>
                      </button>
                      <button mat-menu-item [routerLink]="['login']">
                        <mat-icon>exit_to_app</mat-icon>
                                                <span>Logout</span>
                      </button>
                    </mat-menu>
                                      
                  </mat-toolbar>

            </div>
        </app-header>

     
        <div class="main-content">
            <router-outlet></router-outlet>

       </div>
    </mat-sidenav-content>

  </mat-sidenav-container>

  